/* OEM Font Embed */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');

/* Louis */
@font-face {
font-display: fallback;
font-family: "Louis-Italic";
font-style: italic;
font-weight: 400;
src: url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-italic-webfont.woff2") format("woff2"), url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-italic-webfont.woff") format("woff")
}

@font-face {
font-display: fallback;
font-family: "Louis";
font-style: normal;
font-weight: 400;
src: url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-regular-webfont.woff2") format("woff2"), url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-regular-webfont.woff") format("woff")
}

@font-face {
font-display: fallback;
font-family: "Louis-Bold-Italic";
font-style: italic;
font-weight: 700;
src: url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-bolditalic-webfont.woff2") format("woff2"), url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-bolditalic-webfont.woff") format("woff")
}

@font-face {
font-display: fallback;
font-family: "Louis-Bold";
font-style: normal;
font-weight: 700;
src: url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-bold-webfont.woff2") format("woff2"), url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-bold-webfont.woff") format("woff")
}

@font-face {
font-display: fallback;
font-family: "Louis-Heavy-Italic";
font-style: italic;
font-weight: 900;
src: url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-heavyitalic-webfont.woff2") format("woff2"), url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-heavyitalic-webfont.woff") format("woff")
}

@font-face {
font-display: fallback;
font-family: "Louis-Heavy";
font-style: normal;
font-weight: 900;
src: url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-heavy-webfont.woff2") format("woff2"), url("https://www.chevrolet.com/etc/clientlibs/chevrolet/resources/fonts/louis-heavy-webfont.woff") format("woff")
}
/* OEM Font Embed */



/* OEM Font */
.acs-wrapper { 
font-family: 'Roboto', sans-serif;
font-weight: 400 !important
}
/* OEM Font */



/* Heading Tags */
.acs-h1, .acs-h2, .acs-h3, .acs-h4, .acs-h5, .acs-h6 {
font-family: "Louis", "Roboto", sans-serif;
font-weight: 400;
line-height: 1.2;
}

.acs-h1 {
font-size: 2rem;
}

.acs-h2 {
font-size: 1.8rem;
}

.acs-h3 {
font-size: 1.6rem;
}

.acs-h4 {
font-size: 1.4rem;
}

.acs-h5 {
font-size: 1.2rem;
}

.acs-h6 {
font-size: 1.1rem;
}

/* Larger than phablet */
@media (min-width: 575px) {
.acs-h1 {
font-size: 2.5rem !important;
}

.acs-h2 {
font-size: 2.2rem !important;
}

.acs-h3 {
font-size: 1.8rem !important;
}

.acs-h4 {
font-size: 1.6rem !important;
}

.acs-h5 {
font-size: 1.4rem !important;
}

.acs-h6 {
font-size: 1.2rem !important;
}
}
/* Heading Tags */



/* OEM Font Variables */
.acs-chevy-brand {
font-family: "Louis";  
font-weight: 400;
}

.acs-chevy-brand-italic {
font-family: "Louis-Italic";  
font-weight: 400;
}

.acs-chevy-brand-bold {
font-family: "Louis-Bold";  
font-weight: 700;
}

.acs-chevy-brand-bold-italic {
font-family: "Louis-Bold-Italic";  
font-weight: 700;
}

.acs-chevy-brand-heavy {
font-family: "Louis-Heavy"; 
font-weight: 900;
}

.acs-chevy-brand-heavy-italic {
font-family: "Louis-Heavy-Italic"; 
font-weight: 900;
}

.acs-bold {
font-family: var(--bold-font);   
font-weight: 700;
}
/* OEM Font Variables */



/* Variables */
.acs-wrapper {
--accent: #cd9834;
--accent2: #0058B3;
--accent3: #0068c3;
--gray: #F2F2F2;
--gray2: #6E6E6E;
--gray3: #B3B3B3;
--gray4: #E6E6E6;
--gray5: #636363;
--gray6: #808080;
--dark: #262626;
--dark2: #282829;
--dark3: #1A1A1A;
--bold-font: "Roboto", sans-serif;
}
/* Variables */



/* Text Colors */
.acs-gray {
color: var(--gray)
}
.acs-gray2 {
color: var(--gray2)
}
.acs-gray3 {
color: var(--gray3)
}
.acs-gray4 {
color: var(--gray4)
}
.acs-gray5 {
color: var(--gray5)
}
.acs-gray6 {
color: var(--gray6)
}
.acs-dark {
color: var(--dark)
}
.acs-dark2 {
color: var(--dark2)
}
.acs-dark3 {
color: var(--dark3)
}
/* Text Colors */



/* Accent Colors */
.acs-accent {
color: var(--accent)
}
.acs-accent2 {
color: var(--accent2)
}
.acs-accent3 {
color: var(--accent3)
}
/* Accent Colors */



/* BG Colors */
.acs-bg-accent {
--acs-bg-opacity: 1;
background-color: var(--accent);
background-color: rgba(205,152,51, var(--acs-bg-opacity))
}
.acs-bg-accent2 {
--acs-bg-opacity: 1;
background-color: var(--accent2);
background-color: rgba(31,88,179, var(--acs-bg-opacity))
}
.acs-bg-accent3 {
--acs-bg-opacity: 1;
background-color: var(--accent3);
background-color: rgba(37,104,195, var(--acs-bg-opacity))
}
.acs-bg-gray {
--acs-bg-opacity: 1;
background-color: var(--gray);
background-color: rgba(242,242,242, var(--acs-bg-opacity))
}
.acs-bg-gray2 {
--acs-bg-opacity: 1;
background-color: var(--gray2);
background-color: rgba(110,110,110, var(--acs-bg-opacity))
}
.acs-bg-gray3 {
--acs-bg-opacity: 1;
background-color: var(--gray3);
background-color: rgba(179,179,179, var(--acs-bg-opacity))
}
.acs-bg-gray4 {
--acs-bg-opacity: 1;
background-color: var(--gray4);
background-color: rgba(230,230,230, var(--acs-bg-opacity))
}
.acs-bg-gray5 {
--acs-bg-opacity: 1;
background-color: var(--gray5);
background-color: rgba(99,99,99, var(--acs-bg-opacity))
}
.acs-bg-gray6 {
--acs-bg-opacity: 1;
background-color: var(--gray6);
background-color: rgba(128,128,128, var(--acs-bg-opacity))
}
.acs-bg-dark {
--acs-bg-opacity: 1;
background-color: var(--dark);
background-color: rgba(38,38,38, var(--acs-bg-opacity))
}
.acs-bg-dark2 {
--acs-bg-opacity: 1;
background-color: var(--dark2);
background-color: rgba(40,40,42, var(--acs-bg-opacity))
}
.acs-bg-dark3 {
--acs-bg-opacity: 1;
background-color: var(--dark3);
background-color: rgba(26,26,26, var(--acs-bg-opacity))
}
/* BG Colors */



/* Link Accent */
.acs-link-accent {
text-decoration: underline;
color: inherit;
transition: all 0.1s ease-in-out 0s;
}
.acs-link-accent:hover {
color: var(--accent) !important; 
}
/* Link Accent */



/* BUTTONS: START */
/* Button 1 */
.acs-button {
background-color: transparent;
border-radius: 0;
display: inline-block;
text-align: center;
color: var(--dark) !important;
border: solid .125rem var(--accent);
text-decoration: none !important;
padding: .8rem 0;
font: 700 16px "Roboto", "Helvetica", sans-serif;
line-height: 1.965;
min-width: 270px;
transition: background;
transition-duration: 0s;
transition-timing-function: ease;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1);
}
.acs-button:hover {
background-color: var(--accent);
color: var(--dark) !important;
border: solid .125rem var(--accent)
}

/* Button 2 */
.acs-button2 {
background-color: transparent;
border-radius: 0;
display: inline-block;
text-align: center;
color: #fff !important;
border: solid .125rem var(--accent);
text-decoration: none !important;
padding: .8rem 0;
font: 700 16px "Roboto", "Helvetica", sans-serif;
line-height: 1.965;
min-width: 270px;
transition: background;
transition-duration: 0s;
transition-timing-function: ease;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1);
}
.acs-button2:hover {
background-color: var(--accent);
color: #fff !important;
border: solid .125rem var(--accent)
}

/* Button 3 */
.acs-button3 {
background-color: transparent;
border-radius: 0;
display: inline-block;
text-align: center;
color: var(--dark) !important;
border: solid .125rem var(--gray5);
text-decoration: none !important;
padding: .8rem 0;
font: 700 16px "Roboto", "Helvetica", sans-serif;
line-height: 1.965;
min-width: 270px;
transition: background;
transition-duration: 0s;
transition-timing-function: ease;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1);
}
.acs-button3:hover {
background-color: var(--gray5);
color: #fff !important;
border: solid .125rem var(--gray5)
}

/* Button 4 */
.acs-button4 {
background-color: transparent;
border-radius: 0;
display: inline-block;
text-align: center;
color: var(--accent) !important;
border: solid .125rem var(--accent);
text-decoration: none !important;
padding: .8rem 0;
font: 700 16px "Roboto", "Helvetica", sans-serif;
line-height: 1.965;
min-width: 270px;
transition: background;
transition-duration: 0s;
transition-timing-function: ease;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1);
}
.acs-button4:hover {
background-color: var(--accent);
color: var(--dark) !important;
border: solid .125rem var(--accent)
}

/* Button 5 & 6 for chevy electric*/
/* Button 5 */
.acs-button5 {
background-color: var(--accent2);
color: rgb(255, 255, 255);
cursor: pointer;
flex-direction: row;
transition-duration: 150ms;
transition-property: background-color, border, color, opacity;
transition-timing-function: ease-in;
-moz-box-align: center;
align-items: center;
border-radius: 24px;
border: solid 2px var(--accent2);
display: inline-flex;
height: 48px;
-moz-box-pack: center;
justify-content: center;
padding: 0px 2rem;
white-space: nowrap;
width: 250px;
font-family: "Roboto", "Helvetica", sans-serif;
font-size: 13px;
font-weight: 700;
letter-spacing: 0.05em;
line-height: 13px;
text-transform: uppercase;
text-decoration: none !important;
}
.acs-button5:hover {
background-color: var(--accent3);
color: rgb(255, 255, 255);
border: solid 2px var(--accent3)
}

/* Button 6 */
.acs-button6 {
background-color: transparent;
color: rgb(255, 255, 255);
cursor: pointer;
flex-direction: row;
transition-duration: 150ms;
transition-property: background-color, border, color, opacity;
transition-timing-function: ease-in;
-moz-box-align: center;
align-items: center;
border-radius: 24px;
border: solid 2px rgb(255, 255, 255);
display: inline-flex;
height: 48px;
-moz-box-pack: center;
justify-content: center;
padding: 0px 2rem;
white-space: nowrap;
width: 250px;
font-family: "Roboto", "Helvetica", sans-serif;
font-size: 13px;
font-weight: 700;
letter-spacing: 0.05em;
line-height: 13px;
text-transform: uppercase;
text-decoration: none !important;
}
.acs-button6:hover {
background-color: rgb(255, 255, 255);
color: var(--dark);
border: solid 2px rgb(255, 255, 255)
}
/* BUTTONS: END */
